name: s3-depl

on:
  push:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Build React App
        run: npm install && npm run build
        env:
         CI: false
      - name: Deploy app build to Development S3 bucket
        if: github.ref == 'refs/heads/dev'
        run: aws s3 sync ./build/ s3://dev.themagnit.com --delete
      - name: Deploy app build to Production S3 bucket
        if: github.ref == 'refs/heads/main'
        run: aws s3 sync ./build/ s3://themagnit.com --delete
